# ServiceNow Credentials
SERVICENOW_INSTANCE_URL=
SERVICENOW_USERNAME=
SERVICENOW_PASSWORD=
SERVICENOW_KB_ID=
SERVICENOW_KB_CATEGORY_ID=

# Webhook Security
WEBHOOK_SECRET=e557cf6ac6cf9d2a65de251108482aae6312cae9572da87a67b57d7ef798f6a3

# Langfuse Tracing
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_HOST=

# Langsmith Tracing & Evaluation
LANGSMITH_TRACING=
LANGSMITH_ENDPOINT=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=

# Qdrant Vector Database
QDRANT_HOST=
QDRANT_PORT=

# PostgreSQL Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=servicenow_ai
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/servicenow_ai

# AI & Agent Configurations
LLM_API_KEY=
MODEL_NAME=
CHUNK_SIZE=
CHUNK_OVERLAP=
TOP_K=
SCORE_THRESHOLD=
IDEMPOTENCY_RETENTION_WINDOW=